 .main {
  font-family: Helvetica;
  border-style: dashed;
  padding-left: 15px;
  padding-right: 5px;
  background: rgb(180, 205, 205);
}

.movies {
  border-style: dashed;
  background: rgb(180, 205, 205);
}

header {
  color: white;
  text-align: center;
  font-family: Helvetica;
  background-image: url(http://lorempixel.com/900/100);
}

footer {
  text-align: center;
  font-family: Helvetica;
  color: blue;
  padding-top: 10px;
}

.main h2 {
  text-align: center;
}

img {
  max-width: 20%;
  border: 3px solid;
}

ul.square {
  list-style: square inside;
}

li {
  font-family: fantasy;
  font-weight: bold;
}

p span {
  color: orange;
  font-weight: bold;
  font-family: fantasy;
}

a.movielink {
  font-style: italic;
  font-weight: bold;
}

.textwrap {
  float: left;
  margin: 15px;
}